html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 16px;
}

* {
  margin: 0;
  padding: 0;
}

#main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

#vis-container {
  height: 400px;
}

#vis-svg-container {
  width: 100%;
  height: 100%;
}

/* Formula bar */
#formula-bar-container {
  height: 24px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

#formula-icon-container {
  margin: 0;
  float: left;
  padding: 0;
  position: relative;
  text-align: center;
  align-content: center;
}

#formula-icon {
  font-family: cursive;
  font-weight: bolder;
  font-size: 14px;
  color: #AAAAAA;
  margin: 4px 0;
  padding: 0 10px;
  border-right: 1px solid;
  display: inline-block;
}

#formula-editor-container {
  width: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 10px;
}

#formula-editor {
  width: 100%;
  position: absolute;
  top: 4px;
  bottom: 4px;
  outline: none;
}

.monospace-font {
  font-family: Inconsolata, monospace;
}

/* End formula bar */

#sheebooks-container {
  display: flex;
  justify-content: space-between;
}

.tab-container {
  background: #eeeeee;
}

.tab-container input {
  display: none;
}

.tab-container .label-wrapper {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 2px 12px;
  font-weight: 600;
  text-align: center;
  color: #888;
  border: 1px solid #bbbbbb;
  border-radius: 3px 3px 0 0;
}

.tab-container .label-wrapper:hover {
  color: #555;
  cursor: pointer;
}

.tab-container input:checked + .label-wrapper {
  color: #555;
  border: 1px solid #aaaaaa;
  background: #FFF;
}

.tab-container .add-sheet-btn {
  display: inline-block;
  padding: 0px 6px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #888;
}

.tab-container .add-sheet-btn:hover {
  color: #555;
  cursor: pointer;
}

.tab-container .context-menu {
  position: absolute;
  background: white;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  visibility: hidden;
  z-index: 50;
  font-weight: 400;
  text-align: left;
}

.tab-container .context-menu-item {
  padding: 3px 6px;
}

.tab-container .context-menu-item:hover {
  padding: 3px 6px;
  background: #eeeeee;
}

.tab-container .context-menu-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1px;
  border-width: 5px 5px 0 5px;
  border-color: #888 transparent transparent transparent;
}

.tab-container .context-menu-arrow:hover {
  border-color: #555 transparent transparent transparent;
  cursor: pointer;
}

.sheetbook {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sheet-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.sheet {
  display: none;
}

.sheet.selected {
  display: block;
}

.scroll-container {
  overflow-x: scroll;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

table {
  border-collapse: collapse;
  display: block;
  table-layout: fixed;
  white-space: nowrap;
}

.corner,
.table-header,
.table-index {
  position: absolute;
  z-index: 40;
}

.table-data {
  margin-top: 21px;
  margin-left: 31px;
}

td {
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
  padding: 0;
  height: 20px;
  border: 1px double #BBB;
}

td.index {
  min-width: 30px;
  width: 30px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.header,
.index {
  text-align: center;
  background: #eeeeee;
}

.corner {
  width: 28px;
  height: 18px;
  border: 1px double #BBB;
  border-right: 3px solid #BBB;
  border-bottom: 3px solid #BBB;
  background: #eeeeee;
}

.cell-selector {
  position: absolute;
  z-index: 30;
  border: 2px solid dodgerblue;
  visibility: hidden;
}

.cell-selector-corner {
  position: absolute;
  z-index: 30;
  border: 1px solid white;
  background: dodgerblue;
  visibility: hidden;
  width: 6px;
  height: 6px;
}

.fill-selection-border {
  position: absolute;
  z-index: 20;
  border: 1px dashed #444444;
  visibility: hidden;
}

/**
 * Cell input editor
 */
#cell-input-editor-container {
  position: absolute;
  padding: 1px 2px;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border: 2px #5292f7 solid;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  font-size: 13px;
  display: inline-block;
  overflow: hidden;
  visibility: hidden;
  word-wrap: break-word;
  z-index: 50;
}

#cell-input-editor {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 400;
  font-family: Arial;
  font-style: normal;
  outline: none;
}

/**
 * Drawing tool container
 */

#drawing-tool-container {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #eeeeee;
  padding: 8px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(136,136,136,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(136,136,136,0.75);
  box-shadow: 2px 2px 5px 0px rgba(136,136,136,0.75);
}

#drawing-tool-container h3 {
  padding: 8px;
  font-weight: normal;
}
.button {
  fill:#666666;
  stroke: none;
  display: inline-block;
  padding: 8px;
}

.button:hover {
  background: #dddddd;
  cursor: pointer;
}

.button:active {
  background: #aaaaaa;
}

.button.selected {
  background: #bbbbbb;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
  fill: #cccccc;
  background: none;
}

.button svg {
  display: block;
}

.file-tool.button {
  position: relative;
}

.file-tool.button input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: white;
  outline: none;
  cursor: pointer;
  display: block;
}


.tentative-shape {
  fill: none;
  stroke: #444444;
  stroke-width: 1;
}


@keyframes flash {
  0%   {background: rgba(1,1,1,0);}
  50%  {background: #8cc6ff;}
  100%  {background: rgba(1,1,1,0);}
}

td.flash {
  animation-name: flash;
  animation-duration: 1s;
}

rect.animate {
  transition: all 1s ease;
}

tr.selected {
  background: rgba(30, 143, 255, 0.15);
}

.bounding-box-border {
  fill-opacity: 0;
  stroke-width: 1;
  stroke: rgba(30, 144, 255, 1);
}

.shape-outline {
  stroke-width: 3;
  stroke: rgba(30, 144, 255, 0.5);
}

.bounding-box-handle {
  fill: #FFFFFF;
  stroke-width: 1;
  stroke: rgba(30, 144, 255, 1);
}